.cart {
    margin: 0 auto;
    width: 50%;
    background-color: orange;
    border: 2px solid black;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

.cart_header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-bottom: 2px solid black;
    font-size: 20px;
}

.cart_items_empty {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    padding: 20px 0;
}

.cart_items_list {
    display: flex;
    align-items: center;
    padding: 20px 0 20px 20px;
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 0 5%;
}

.cart_items_image {
    width: 100px;
    height: auto;
    border: 2px solid black;
}

.cart_items_name,
.cart_items_function {
    width: 25%;
}

.cart_item_add,
.cart_item_remove {
    width: 30px;
    margin-right: 15px;
    font-weight: 700;
    border: none;
    border-radius: 3px;
    font-size: 18px;
    color: white;
    cursor: pointer;

}

.cart_item_add {
    background-color: green;
}

.cart_item_add:active{
    transform: scaleY(2px);
}

.cart_item_remove {
    background-color: red;
}

.cart_item_remove:active{
    transform: scaleY(2px);
}

.cart_items_total_price_name {
    display: flex;
    justify-content: space-around;
    padding: 20px 0 20px 22px;
    font-size: 18px;
    font-weight: 700;
    border-top: 2px solid black;
}

.cart_items_total_price {
    display: flex;
}

.cart_items_price {
    color: black;
    font-size: 18px;
}